@font-face {
	    font-family: GothamBlack;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/Gotham-Black.otf');
	}
	@font-face {
	    font-family: GothamCondensedBold;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamCondensed Bold.otf');
	}	
	@font-face {
	    font-family: 'GothamCondensedMedium' ;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamCondensed Medium.otf');
	}
	@font-face {
	    font-family: GothamNarrowBlack;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamNarrow Black.otf');
	}
	@font-face {
	    font-family: GothamNarrowBold;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamNarrow Bold.otf');
	}
	@font-face {
	    font-family: GothamNarrowBook;
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamNarrow Book.otf');
	}
	@font-face {
	    font-family: 'GothamNarrowBookItalic';
	    src: url('/wp-content/plugins/files/civicrm/extensions/com.netasi.badge/templates/CRM/css/GothamNarrow BookItalic.otf');
	}